html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}
body { 
    background-color: black;
}

html::-webkit-scrollbar {
  display: none;
}

video {
    float: left;
    width: 25%;
    height: 20%;
    margin: 0px;
}

video::-webkit-media-controls {
  display:none !important;
}

.r1 {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.r2 {
    transform: rotateX(180deg);
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    -moz-transform:rotateX(180deg); /* Firefox */
}

.r3 {
    transform: rotateY(180deg) rotateX(180deg);
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    -moz-transform: rotateY(180deg) rotateX(180deg);
}
